<!DOCTYPE html>
  <html>
    <head>
      <title>Delete Meal Kit </title>
    </head>
        <body>
          <form action="/mealkits/<%= @mealkit.id %>/delete" method="delete">
            <input id="hidden" type="hidden" name="_method" value="delete">
            <label><h2> <p> Delete a Meal Kit </p> </h2></label>
            <br> </br>
            <%@customer.mealkits.each do|mealkit|%> </input>
            <p> Meal Kit Name: <%=mealkit.name %> <input type="submit" value="Delete Meal Kit"></p>
            <% end %>
            <br> </br>
            <br> </br>
            <p> <a href="/mealkits/logout"> Logout </a> </p>
            <br> </br>
          </form>
        </body>
  </html>
