<!DOCTYPE html>
  <html>
    <head>
      <title> </title>
    </head>
        <body>
          <form method="post" action="/delete">
            <p> Meal Kit: <input type ="text" name="mealkit.name" value="Meal Kit"</p>
            <input type="submit" name="submit" value="Submit">

            <p> <a href="/mealkits/edit"> Edit Meal Kit </a> </p>
            <p> <a href="/mealkits/new"> New Meal Kit </a> </p>
            <p> <a href="/mealkits/show"> Show Meal Kit </a> </p>
            <p> <a href="/mealkits/logout"> Logout Meal Kit </a> </p>
          </form>
        </body>
    </html>
