<!DOCTYPE html>
  <html>
    <head>
      <title> </title>
    </head>
        <body>
          <form method="post" action="/mealkits/<%=show_mealkits%>">
            <p> Meal Kit: <input type ="text" name="mealkit.name" value="Meal Kit"</p>
            <p> ingredients : <input type ="text" name="mealkit.ingredients" value="Meal Kit ingredients"</p>
            <p> Time: <input type ="text" name="mealkits.time" value="Cooking Time"</p>
            <p> Serving Size: <input type ="text" name="mealkit.serving_size" value="Serving Size"</p>
            <p> User Name: <input type ="text" name="customer.username" value="User Name"</p>
            <input type="submit" name="submit" value="Submit">

            <p> <a href="/mealkits/delete"> Delete Meal Kit </a> </p>
            <p> <a href="/mealkits/edit"> Edit Meal Kit </a> </p>
            <p> <a href="/mealkits/new">New Meal Kit </a> </p>
            <p> <a href="/mealkits/logout"> Logout </a> </p>
            <p> <a href="/customers/show"> Customer Show </a> </p>
            <p> <a href="/customers/update"> Customer Update </a> </p>

          </form>
        </body>
    </html>
