  <form method="post" action="/mealkits">
  <br> </br>
     <h2> Welcome!  <%= current_customer.name %> </h2> </p>
     <h5> Username: <%= current_customer.username %> </p>
     Email: <%= current_customer.email %> </h5> </p>
      <br> </br>
         <a href="/main_menu"> Main Menu </a> </p>
          <br> </br>
          <form>
            <label><h2>  New Meal Kit </p> </h2></label>
              <br> </br>
                 <label> Meal Kit Name: <input type ="text" name="mealkit[name]"></label></p>
                <br> </br>
                <label> Ingredients :  <input type ="text" name="mealkit[ingredients]"></label></p>
                <br> </br>
                <label> Cooking Time: <input type ="text" name="mealkit[time]"></label></p>
                <br> </br>
                <label> Serving Size:   <input type ="text" name="mealkit[serving_size]"> </label></p> </input>
                <br> </br>
              <input type="submit"  value="   SUBMIT   ">
            <br> </br>
          </form>
          <br> </br>
        <p> <a href="/logout">Log Out</a> </p>
    <br> </br>
