<!DOCTYPE html>
  <html>
    <head>
      <title> </title>
    </head>
        <body>
          <form method="post" action="/mealkits/new">
            <br> </br>
            <p> <a href="/mealkits/main_menu"> Main Menu </a> </p>
              <br> </br>
              <label><h2> <p> Create a New Meal Kit </p> </h2></label>
                <br> </br>
                <p> <label> Meal Kit Name:   <input type ="text" name="mealkit[name]"></label></p>
                <br> </br>
                <p><label> Ingredients :  <input type ="text" name="mealkit[ingredients]"></label></p>

                <br> </br>
                <p><label> Cooking Time: <input type ="text" name="mealkit[time]"></label></p>

                <br> </br>
                <p><label> Serving Size:   <input type ="text" name="mealkit[serving_size]"> </label></p>

                <br> </br>
                <p> <input type="submit" name="submit" value="SUBMIT " </p>
                <br> </br>
                <br> </br>
              <a href="/mealkits/logout"> Logout </a> </p>
              <br> </br>
          </form>
        </body>
    </html>
