<!DOCTYPE html>
  <html>
    <head>
      <title> </title>
    </head>
        <body>
          <form method="post" action="/mealkits/new">

            <p>Create a new Meal Kit </p>
            <br> </br>
              <label>Meal Kit: </label>
            <p> Meal Kit:  </p>
            <p> ingredients : <input type ="text" name="mealkit[ingredients]"> </p>
            <p> Time: <input type ="text" name="mealkit[time]" ></p>
            <p> Serving Size: <input type ="text" name="mealkit[serving_size]"> </p>

            <input type="submit" name="submit" value="Submit">

            <p> <a href="/mealkits/main_menu"> Main Menu </a> </p>
            <p> <a href="/mealkits/logout"> Logout </a> </p>

          </form>
        </body>
    </html>
