<!DOCTYPE html>
  <html>
    <head>
      <title> </title>
    </head>
        <body>
          <form method="post" action="/mealkits/new_mealkits">
            <br> </br>
            <p> <a href="/main_menu"> Main Menu </a> </p>
              <br> </br>
              <label> <h2> <p> New Meal Kit </p> </h2></label>
                <br> </br>
                <p> <label> Meal Kit Name: <%=@mealkit.name %> </label> </p>
                <p> <label> Ingredients :  <%=@mealkit.ingredients %> </label></p>
                <p> <label> Cooking Time: <%=@mealkit.time %> minutes </label> </p>
                <p> <label> Serving Size:   <%=@mealkit.serving_size %> people </label> </p>
                <br> </br>
              <a href="/mealkits/logout"> Logout </a> </p>
              <br> </br>
          </form>
        </body>
    </html>
