<body>
  <form method="post" action="/customers">
    <br> </br>
      <p> <h2> Here are the customers </h2> </p>

    <tr>
      <th> Names </th>  <th> Usernames  </th>   <th> Emails </th>





                  <br> </br>
                <p> <a href = "/mealkits/new"> Create Meal Kit</a> </p>
                <br> </br>
                <p> <a href="/logout">Log Out</a> </p>
        <br> </br>
  </form>
</body>
