    <br> </br>
       <a href="/main_menu"> Main Menu </a>
       <a href="/logout">Log Out</a>
    <br> </br>
  <p> <h2> Here are the customers:  </h2>
    <br> </br>
      <% @customers.each do|customer| %>
          Customer ID:  <%= customer.id%>
          Customer Names:  <%= customer.name %>
          Username:  <%= customer.username %>
          Email:   <%= customer.email %>
          <br> </br>
      -----------------------------------------------------------------------
      <% end %>
      <br> </br>
     <a href="/main_menu"> Main Menu </a>
     <a href="/logout">Log Out</a>
