<body>
  <form method="post" action="/authenticate/signup">
    <br> </br>
    <p> <a href="/main_menu"> Main Menu </a> </p>
    <p> <a href="/logout">Log Out</a> </p>
    <br> </br>
  <p> <h2> Here are the customers:  </h2> </p>
    <br> </br>
    <% @customers.each do |customer| %>
    <p>  Customer ID:  <%= customer.id%> </p>
    <p>  Customer Names:  <%= customer.name %> </p>
    <p>  Username:  <%= customer.username %> </p>
    <p>  Email:   <%= customer.email %> </p>
    <br> </br>
    <p>-----------------------------------------------------------------------
    <% end %>
    <br> </br>
    <p> <a href="/main_menu"> Main Menu </a> </p>
    <p> <a href="/logout">Log Out</a> </p>
  </body>
</form>
