<!DOCTYPE html>
  <html>
    <head>
      <title> Welcome! </title>
    </head>
        <body>
          <form method="post" action="login">
            <p> Please login:</p>
            <p> User Name: <input type ="text" name="customer.username" value="User Name"</p>
            <p> Email: <input type ="text" name="customer.email" value="Email"</p>
            <p> Password: <input type ="text" name="customer.password" value="Password"</p>
          </form>
        </body>
    </html>
