<!DOCTYPE html>
  <html>
    <head>
        <title>Show.erb </title>
    </head>
        <body>
            <p> <h2> Welcome!  <%= current_customer.name %> </h2> </p>

            <p> <h5> Username: <%= current_customer.username %> </p>
            <p> Email: <%= current_customer.email %> </h5> </p>
            <br> </br>
            <p> <h2> Please make your selection: </h2>
              <br> </br>
            <p> <a href="/mealkits/delete"> Delete a Meal Kit </a> </p>
            <p> <a href="/mealkits/edit"> Edit a Meal Kit </a> </p>
            <p> <a href="/mealkits/new"> Create a Meal Kit </a> </p>
            <p> <a href="/mealkits/show"> Show Meal Kits </a> </p>
            <p> <a href="/logout">Log Out</a> </p>
            <br> </br>
          </form>
        </body>
    </html>
