<% @customer.mealkits.each do |mealkit| #loop over the mealkits associated with customer %>
  <h3><%= mealkit.name %></h3>
  <br>
  <ul>
    <% mealkit.ingredients.split(", ").each do |ingredient| #display list item for each ingredient %>
      <li><%= ingredient %></li>
    <% end %>
  </ul>
  <% if session[:customer_id] == @customer.id %>
    <form method="post" action="/mealkits/<%=mealkit.id%>">
      <input id="hidden" type="hidden" name="_method" value="delete"></input>
      <input type="submit" value="DELETE"></input>
    </form>
  <% end %>

<% end %>

<a href="/main_menu">Return to Main Menu</a>
