<!DOCTYPE html>
  <html>
    <head>
      <title>Welcome, <%= @customer %> </title>
    </head>
        <body>
            <% @customers.each do|customer| %>
            <p> Customer Name: <%= customer.name %> </p>
            <p> Username: <%= customer.username %></p>
            <p> Email: <%= customer.email %> </p>
            <% end %>

            <p> <a href="/mealkits/delete"> Delete Mealkit </a> </p>
            <p> <a href="/mealkits/edit"> Edit Mealkit </a> </p>
            <p> <a href="/mealkits/new"> New Mealkit </a> </p>
            <p> <a href="/mealkits/show"> Show Mealkit </a> </p>
            <p> <a href="/mealkits/logout"> Logout Mealkit </a> </p>
          </form>
        </body>
    </html>
