<!DOCTYPE html>
  <html>
    <head>
      <title> </title>
    </head>
        <body>
          <form method="post" action="/customers/<%=@customer%>
            <p> Name: <input type ="text" name="customer.name" value="Name"</p>
            <p> Username: <input type ="text" name="customer.username" value="Username"</p>
            <p> Email: <input type ="text" name="customer.email" value="Email"</p>
            <input type="submit" name="submit" value="Submit">

            <p> <a href="/mealkits/delete"> Delete Mealkit </a> </p>
            <p> <a href="/mealkits/edit"> Edit Mealkit </a> </p>
            <p> <a href="/mealkits/new"> New Mealkit </a> </p>
            <p> <a href="/mealkits/show"> Show Mealkit </a> </p>
            <p> <a href="/mealkits/logout"> Logout Mealkit </a> </p>
          </form>
        </body>
    </html>
