<!DOCTYPE html>
  <html>
    <head>
        <title>Show.erb </title>
    </head>
        <body>

            <h3><p> Name:  <%= @customer.name %> </p>
            <p> Username: <%= @customer.username %></p>
            <p> Email: <%= @customer.email %> </p></h3>
            <br> </br>
            <p> What would you like to do? </p>
            <p> <a href="/mealkits/delete"> Delete Mealkit </a> </p>
            <p> <a href="/mealkits/edit"> Edit Mealkit </a> </p>
            <p> <a href="/mealkits/new"> New Mealkit </a> </p>
            <p> <a href="/mealkits/show"> Show Mealkit </a> </p>
            <p> <a href="/mealkits/logout"> Logout Mealkit </a> </p>
            <br> </br>
          </form>
        </body>
    </html>
