<!DOCTYPE html>
  <html>
    <head>
      <title>Welcome, <%= @customer.name %> </title>
    </head>
        <body>
          <%binding.pry%>
            <% @customer.mealkits.each do |customer| %>
              <p> <%= customer.name %> </p>
              <p> <%= customer.username %></p>
              <p> <%= customer.email %> </p>
            <% end %>
            <br> </br>
            <p> What would you like to do? </p>
            <p> <a href="/mealkits/delete"> Delete Mealkit </a> </p>
            <p> <a href="/mealkits/edit"> Edit Mealkit </a> </p>
            <p> <a href="/mealkits/new"> New Mealkit </a> </p>
            <p> <a href="/mealkits/show"> Show Mealkit </a> </p>
            <p> <a href="/mealkits/logout"> Logout Mealkit </a> </p>
          </form>
        </body>
    </html>
