<!DOCTYPE html>
  <html>
    <head>
      <title> Signup </title>
    </head>
        <body>
          <form method="post" action="/signup">

            <% if flash.has?(:message) %>
              <%= flash[:message] %>
            <% end %>

            <p> <h2> Please Signup </h2> </p>
            <br> </br>
              <p> Name: <input type ="text" name="name" </p>
              <p> Username: <input type ="text" name="username" </p>
              <p> Email: <input type ="text" name="email" </p>
              <p> Password: <input type ="text" name="password" </p>
            <input type="submit" value="Submit">
            <br> </br>
          </form>
        </body>
    </html>
