<!DOCTYPE html>
  <html>
    <head>
      <title> Welcome! </title>
    </head>
        <body>
          <form method="post" action="Signup">
            <p> Please Signup:</p>
            <p> Name: <input type ="text" name="customer.name" value="Name"</p>
            <p> Username: <input type ="text" name="customer.username" value="Username"</p>
            <p> Email: <input type ="text" name="customer.email" value="Email"</p>
            <p> password: <input type ="text" name="customer.password" value="Password"</p>
          </form>
        </body>
    </html>
