<!DOCTYPE html>
  <html>
    <head>
      <title> Please signup </title>
    </head>
        <body>
          <form method="post" action="/signup">
            <p> Please Signup:</p>
            <p> Name: <input type ="text" name="name" </p>
            <p> Username: <input type ="text" name="name" </p>
            <p> Email: <input type ="text" name="email" </p>
            <p> Password: <input type ="text" name="password" </p>
            <input type="submit" name="submit" value="Submit">
          </form>
        </body>
    </html>
