<!DOCTYPE html>
  <html>
    <head>
      <title> Login </title>
    </head>
      <body>
        <form method="post" action="/login">
          <p> <h2>Please Login </h2> </p>
          <br> </br>
            <p> Username: <input type ="text" name="username" </p>
            <br> </br>
            <p> Password: <input type ="password" name="password" </p>
            <input type="submit" value="      SUBMIT     "> </h1>
            <br> </br>
            <br> </br>
          <a href='/signup'> Signup </a>
        <br> </br>
      </form>
    </body>
  </html>
