<!DOCTYPE html>
  <head>
    <title>Welcome to Sinatra Chefilicious Project!</title>
  </head>

    <body>
      <p> Please make your selection:</p>
        <p> <a href="login"> Login </a> </p>
        <p> <a href="/signup"> Signup </a> </p>
    </body>

</html>
