<!DOCTYPE html>
  <head>
    <title>Welcome to Sinatra_Chefilicious_Project!</title>
  </head>

    <body>
      <p> Please make your selection:</p>
        <p> <a href="customers/login"> Login </a> </p>
        <p> <a href="customers/Signup"> Signup </a> </p>
    </body>

</html>
