<!DOCTYPE html>
  <head>
  </head>
    <body>
        <p> <center> <h1>Welcome to Chefilicious! </h1> </center> </p>
        <br> </br>
         <p> <h2>  We do the prep. You be the chef ! </h2></p>

        <p> <a href="login"> Login </a> </p>

        <p> <a href="/signup"> Signup </a> </p>
    </body>
</html>
