<!DOCTYPE html>
  <head>
    <title>Welcome to Sinatra Chefilicious Project!</title>
  </head>

    <body>
      <p> <h2> Please make your selection: </h2> </p>

        <p> <a href="login"> Login </a> </p>

        <p> <a href="/signup"> Signup </a> </p>
    </body>

</html>
